body,
html {
  width: 100%;
  margin: 0px;
}
#container {
  position: absolute;
  width: 670px;
  border: 1px solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 400px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
}

#entitiesContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

#entitiesContainer > input {
  width: 212px;
  font-size: 1.3em;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#inputBoxContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

#inputBoxContainer > textarea {
  width: 637px;
  height: 100px;
  font-size: 1.2em;
  padding: 5px;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
}

#outputTextContainer {
  font-family: sans-serif;
  font-size: 1.5em;
}

.highlight {
  background-color: rgba(0, 200, 0, 0.5);
  padding: 2px;
  border-radius: 5px;
  display: inline-block;
  margin: 1px;
}
